<!DOCTYPE html>
<html lang="en"  ng-app="soqu">
<head>
    <meta charset="utf-8">
    <title>Soqu Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <!-- common js/css lib -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"  type="text/css" />  
    <link href="lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"  type="text/css" />  
	
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/jquery/jquery-2.1.0.min.js"></script>
    <script src="lib/jquery/jquery.dataTables.js"></script>
    <script src="lib/jquery/jquery.validate.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
	
    <!-- application js/css files -->
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />  

    <script src="main.js"></script> 
    <script src="javascripts/controllers/userMgmtController.js"></script> 
    <script src="javascripts/services/soquService.js"></script> 

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">                                   
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
                <ul class="nav navbar-nav">
					<li><a class="navbar-brand" href="/">Soqu Web</a></li>
		            <li><a class="textsize2" href="#/">首页</a></li>
                </ul>
	        </div>
	        <div class="navbar-collapse collapse" style="float:right">  
                <ul class="nav navbar-nav">
                    <li><a class="textsize2" href="#/login">登录</a></li>
                    <li><a class="textsize2" href="#/reg">注册</a></li>
                </ul>
            </div>   			      		 
        </div>
    </div>

    <div id="wrap">
		<div class="container">
            <h1>欢迎来到 soqu !</h1>
            <p>
	        	<a class="btn btn-primary btn-large" href="#/login">登录</a>
	        	<a class="btn btn-large" href="#/reg">注册</a>
            </p>
        </div>
    </div>

    <div id="footer">
	    <div class="container">
            <div class="text-muted textsize1 credit"> All rights reserved by zxn. </div>
        </div>
    </div>

</body>
</html>
